.container{
    height: 20rem;
    width: 100vw;
    background-color: rgb(23, 53, 44);
    display: flex;
    justify-content:space-around ;
    align-items: center;
    z-index: 3;
   
}
.foterdiv{
    color:rgb(48, 235, 242);
}